

<app-top-navbar></app-top-navbar>

<p>My Recipes component</p>
<div>{{printingUID}}</div>


<div class="container-fluid" style="width: 80%;">
<div class="card-group">
  <div class="card border border-dark border-2">
    <img src="./assets/chicken.jpg" class="card-img-top border border-dark  " alt="" width = "300" height = "300">
    <div class="card-body">
      <h5 class="card-title">ckicken breast </h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="#" class="btn btn-lg btn-warning">View Recipe</a>
    </div>
  </div>
  <div class="card">
    <img src="./assets/burger.jpg" class="card-img-top" alt="" width = "300" height = "300">
    <div class="card-body">
      <h5 class="card-title">burger</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card">
    <img src="./assets/pancake.png" class="card-img-top" alt="" width = "300" height = "300">
    <div class="card-body">
      <h5 class="card-title">pancake</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

</div>